In [185]:
# import pandas 
import pandas as pd
import numpy as np


#set all datasets as separate variables and dfs


df_gdp = pd.read_csv('./datasets/gdppc.csv', on_bad_lines='skip')
df_happiness = pd.read_csv('./datasets/happiness.csv', on_bad_lines='skip')
df_hdi = pd.read_csv('./datasets/hdi.csv', on_bad_lines='skip')
df_population = pd.read_csv('./datasets/population.csv', on_bad_lines='skip')
df_landmass = pd.read_csv('./datasets/landmass.csv', on_bad_lines='skip')
df_qol = pd.read_csv('./datasets/qol.csv', on_bad_lines='skip')

In [186]:
# there's only a couple of countries in oecd  which are these:
# Austria, Australia, Belgium, Canada, Chile, Colombia, Costa Rica, Czech Republic, Denmark, Estonia, Finland, France, Germany, Greece, Hungary, Iceland, Ireland, Israel, Italy, Japan, Korea, Latvia, Lithuania, Luxembourg, Mexico, the Netherlands, New Zealand, Norway, Poland, Portugal, Slovak Republic, Slovenia, Spain, Sweden, Switzerland, Turkey, the United Kingdom and the United States
oecd_countries = ['Austria', 'Australia', 'Belgium', 'Canada', 'Chile', 'Colombia', 'Costa Rica', 'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Israel', 'Italy', 'Japan',
                  'Korea, Rep.', 'Latvia', 'Lithuania', 'Luxembourg', 'Mexico', 'Netherlands', 'New Zealand', 'Norway', 'Poland', 'Portugal', 'Slovak Republic', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Turkey', 'United Kingdom', 'United States']
# we don't care about the stats of other countries, so we'll just erase them. 

df_gdp.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,24985.013920,24712.493260,26441.619940,26893.011510,28396.908420,28452.170610,29350.805020,30253.279360,NaN,NaN
1,Africa Eastern and Southern,AFE,GDP per capita (current US$),NY.GDP.PCAP.CD,147.612227,147.014904,156.189192,182.243917,162.347592,180.214908,...,1770.736230,1736.166560,1713.899299,1703.596298,1549.037940,1431.778723,1573.063386,1574.978648,1530.059177,1359.618224
2,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,59.773234,59.860900,58.458009,78.706429,82.095307,101.108325,...,591.190030,638.845852,624.315454,614.223342,556.007221,512.012778,516.679862,485.668419,494.179350,516.747871
3,Africa Western and Central,AFW,GDP per capita (current US$),NY.GDP.PCAP.CD,107.932233,113.081647,118.831107,123.442888,131.854402,138.526332,...,1862.308267,1965.118485,2157.481149,2212.853135,1894.310195,1673.835527,1613.473553,1704.139603,1777.918672,1710.073363
4,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4615.468219,5100.097027,5254.881126,5408.411700,4166.979833,3506.073128,4095.810057,3289.643995,2809.626088,1776.166868

In [187]:
# we only want the oecd countries
#drop the indicator code etc
df_gdp.drop(['Indicator Code', 'Indicator Name', 'Country Code', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
            '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', ], axis=1, inplace=True)
df_gdp = df_gdp.loc[df_gdp['Country Name'].isin(oecd_countries)]
df_gdp

        Country Name           2019           2020
13         Australia   54875.285960   51692.842750
14           Austria   50114.401110   48586.801320
17           Belgium   46591.491610   45159.348220
35            Canada   46338.340960   43294.648160
37       Switzerland   85334.519460   87097.036450
39             Chile   14741.714400   13231.704210
45          Colombia    6424.979492    5334.556042
48        Costa Rica   12693.827960   12140.854150
54    Czech Republic   23660.148810   22931.274600
55           Germany   46794.899290   46208.429470
58           Denmark   59775.735100   61063.316430
70             Spain   29555.315700   27063.193920
71           Estonia   23397.120010   23027.027000
75           Finland   48628.641760   48744.988130
77            France   40578.644290   39030.360370
81    United Kingdom   43070.498360   41059.168810
89            Greece   19133.757760   17622.541000
101          Hungary   16735.659780   15980.740890
111          Ireland   80886.615740   85267.764740
114          Iceland   68941.462230   59270.180050
115           Israel   43951.247730   44168.943640
116            Italy   33641.633750   31714.220950
119            Japan   40777.608700   40193.252440
126      Korea, Rep.   31936.796350   31631.469450
143        Lithuania   19575.768480   20233.641350
144       Luxembourg  113218.713300  116014.602500
145           Latvia   17926.841590   17726.252940
154           Mexico    9950.450080    8329.271313
176      Netherlands   52476.273250   52397.116710
177           Norway   75719.752900   67329.677790
180      New Zealand   42755.216260   41441.466670
190           Poland   15732.203130   15720.994660
194         Portugal   23330.817290   22176.296710
221  Slovak Republic   19303.545660   19266.513570
222         Slovenia   25942.954770   25517.330670
223           Sweden   51939.429740   52274.408790
244           Turkey    9121.515167    8536.433320
251    United States   65279.529030   63593.443620

In [188]:
#nice! we have all the countries
print(len(df_gdp))
# average the 2019 and 2020 data and write it as a new column

df_gdp['Combined'] = (df_gdp['2019'] + df_gdp['2020'])/2
df_gdp = df_gdp.drop(['2019', '2020'], axis=1)


df_gdp = df_gdp.round(2)
df_gdp = df_gdp.sort_values(by=['Combined'], ascending=False)
#find the middle of the list
df_gdp_average = df_gdp.iloc[len(df_gdp)//2]
df_gdp_average

38

Country Name     France
Combined        39804.5
Name: 77, dtype: object

In [189]:
# happiness index have different names for the us and korea
oecd_countries += ['South Korea', 'United States', 'Slovakia']
df_happiness = df_happiness.loc[df_happiness['country'].isin(oecd_countries)]
print(len(df_happiness))

38

In [190]:
df_happiness.drop(['rank','pop2022'], axis=1, inplace=True)
# add the values in happiness2021 to happiness2020 and write it as a new column

df_happiness['Combined'] = (df_happiness['happiness2021'] + df_happiness['happiness2020'])/2

df_happiness.drop(['happiness2021', 'happiness2020'], axis=1, inplace=True)

df_happiness = df_happiness.round(2)

df_happiness.sort_values(by=['Combined'], ascending=False)


df_happiness_average = df_happiness.iloc[len(df_happiness)//2]

df_happiness

            country  Combined
0           Finland      7.83
1           Denmark      7.63
2       Switzerland      7.57
3           Iceland      7.53
4       Netherlands      7.46
5            Norway      7.44
6            Sweden      7.36
7        Luxembourg      7.28
8       New Zealand      7.29
9           Austria      7.28
10        Australia      7.20
11           Israel      7.14
12          Germany      7.12
13           Canada      7.17
14          Ireland      7.11
15       Costa Rica      7.10
16   United Kingdom      7.11
17   Czech Republic      6.94
18    United States      6.95
19          Belgium      6.85
20           France      6.68
26            Spain      6.45
27            Italy      6.44
28         Slovenia      6.41
32         Slovakia      6.31
34           Mexico      6.39
36        Lithuania      6.24
38          Estonia      6.11
41            Chile      6.20
42           Poland      6.18
49           Latvia      5.99
50         Colombia      6.09
51          Hungary      6.00
54            Japan      5.91
55         Portugal      5.92
60      South Korea      5.86
66           Greece      5.62
101          Turkey      5.04

In [191]:
df_happiness_average

country     Belgium
Combined       6.85
Name: 19, dtype: object