In [1]:
# import pandas 
import pandas as pd
import numpy as np


#set all datasets as separate variables and dfs


df_gdp = pd.read_csv('./datasets/gdppc.csv', on_bad_lines='skip')
df_happiness = pd.read_csv('./datasets/happiness.csv', on_bad_lines='skip')
df_hdi = pd.read_csv('./datasets/hdi.csv', on_bad_lines='skip')
df_population = pd.read_csv('./datasets/population.csv', on_bad_lines='skip')
df_landmass = pd.read_csv('./datasets/landmass.csv', on_bad_lines='skip')
df_qol = pd.read_csv('./datasets/qol.csv', on_bad_lines='skip')

In [2]:
# there's only a couple of countries in oecd  which are these:
# Austria, Australia, Belgium, Canada, Chile, Colombia, Costa Rica, Czech Republic, Denmark, Estonia, Finland, France, Germany, Greece, Hungary, Iceland, Ireland, Israel, Italy, Japan, Korea, Latvia, Lithuania, Luxembourg, Mexico, the Netherlands, New Zealand, Norway, Poland, Portugal, Slovak Republic, Slovenia, Spain, Sweden, Switzerland, Turkey, the United Kingdom and the United States
oecd_countries = ['Austria', 'Australia', 'Belgium', 'Canada', 'Chile', 'Colombia', 'Costa Rica', 'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Israel', 'Italy', 'Japan',
                  'Korea, Rep.', 'Latvia', 'Lithuania', 'Luxembourg', 'Mexico', 'Netherlands', 'New Zealand', 'Norway', 'Poland', 'Portugal', 'Slovak Republic', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Turkey', 'United Kingdom', 'United States']
# we don't care about the stats of other countries, so we'll just erase them. 

df_gdp.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,24985.013920,24712.493260,26441.619940,26893.011510,28396.908420,28452.170610,29350.805020,30253.279360,NaN,NaN
1,Africa Eastern and Southern,AFE,GDP per capita (current US$),NY.GDP.PCAP.CD,147.612227,147.014904,156.189192,182.243917,162.347592,180.214908,...,1770.736230,1736.166560,1713.899299,1703.596298,1549.037940,1431.778723,1573.063386,1574.978648,1530.059177,1359.618224
2,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,59.773234,59.860900,58.458009,78.706429,82.095307,101.108325,...,591.190030,638.845852,624.315454,614.223342,556.007221,512.012778,516.679862,485.668419,494.179350,516.747871
3,Africa Western and Central,AFW,GDP per capita (current US$),NY.GDP.PCAP.CD,107.932233,113.081647,118.831107,123.442888,131.854402,138.526332,...,1862.308267,1965.118485,2157.481149,2212.853135,1894.310195,1673.835527,1613.473553,1704.139603,1777.918672,1710.073363
4,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4615.468219,5100.097027,5254.881126,5408.411700,4166.979833,3506.073128,4095.810057,3289.643995,2809.626088,1776.166868

In [3]:
# we only want the oecd countries
#drop the indicator code etc
df_gdp.drop(['Indicator Code', 'Indicator Name', 'Country Code', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
            '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', ], axis=1, inplace=True)
df_gdp = df_gdp.loc[df_gdp['Country Name'].isin(oecd_countries)]

#nice! we have all the countries
print(len(df_gdp))
# average the 2019 and 2020 data and write it as a new column

df_gdp['Combined'] = (df_gdp['2019'] + df_gdp['2020'])/2
df_gdp = df_gdp.drop(['2019', '2020'], axis=1)


df_gdp = df_gdp.round(2)
df_gdp = df_gdp.sort_values(by=['Combined'], ascending=False)
#find the middle of the list
df_gdp_average = df_gdp.iloc[len(df_gdp)//2]
df_gdp_average

38

Country Name     France
Combined        39804.5
Name: 77, dtype: object

In [4]:
# happiness index have different names for the us and korea
oecd_countries += ['South Korea', 'United States', 'Slovakia']
df_happiness = df_happiness.loc[df_happiness['country'].isin(oecd_countries)]
print(len(df_happiness))

df_happiness.drop(['rank','pop2022'], axis=1, inplace=True)
# add the values in happiness2021 to happiness2020 and write it as a new column

df_happiness['Combined'] = (df_happiness['happiness2021'] + df_happiness['happiness2020'])/2

df_happiness.drop(['happiness2021', 'happiness2020'], axis=1, inplace=True)

df_happiness = df_happiness.round(2)

df_happiness.sort_values(by=['Combined'], ascending=False)


df_happiness_average = df_happiness.iloc[len(df_happiness)//2]

df_happiness_average

38

country     Belgium
Combined       6.85
Name: 19, dtype: object

In [5]:
df_hdi = df_hdi[['HDI Rank', 'Country', '2019']]

# rank these based on hdi_rank column

df_hdi = df_hdi.sort_values(by=['HDI Rank'], ascending=True)

In [6]:
# if the country is not in oecd_countries, drop it
df_hdi['Country'] = df_hdi['Country'].str.lstrip()
df_hdi = df_hdi.loc[df_hdi['Country'].isin(oecd_countries)]
print(len(df_hdi))

df_hdi

36

    HDI Rank         Country   2019
127        1          Norway  0.957
46        10         Denmark   0.94
59        11         Finland  0.938
179       13  United Kingdom  0.932
122       14     New Zealand  0.931
16        14         Belgium  0.931
31        16          Canada  0.929
180       17   United States  0.926
9         18         Austria  0.922
82        19          Israel  0.919
85        19           Japan  0.919
164        2     Switzerland  0.955
81         2         Ireland  0.955
155       22        Slovenia  0.917
101       23      Luxembourg  0.916
159       25           Spain  0.904
60        26          France  0.901
83        29           Italy  0.892
55        29         Estonia  0.892
66        32          Greece  0.888
100       34       Lithuania  0.882
137       35          Poland   0.88
94        37          Latvia  0.866
138       38        Portugal  0.864
154       39        Slovakia   0.86
76         4         Iceland  0.949
75        40         Hungary  0.854
34        43           Chile  0.851
174       54          Turkey   0.82
64         6         Germany  0.947
40        62      Costa Rica   0.81
163        7          Sweden  0.945
111       74          Mexico  0.779
121        8     Netherlands  0.944
8          8       Australia  0.944
36        83        Colombia  0.767